@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(186, 186, 186);
}

/* >>>>>>>>>> NAVBAR <<<<<<<<<< */
.all-Content {
    display: flex;
}

.contentNav {
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    position: fixed;
    min-height: 100vh;
}

.contentNav img {
    width: 130px;
    padding: 10px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.185);
}

.contentNav a {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
    line-height: 45px;
    align-items: center;
    text-align: center;
}
a:hover {
    background: rgb(255, 111, 0);
    color: white;
}


/* >>>>>>>>>> BAR CHANGE CIMB <<<<<<<<<< >>>>>>>>>> BAR CHANGE CIMB <<<<<<<<<< >>>>>>>>>> BAR CHANGE CIMB <<<<<<<<<< */
.input-in {
    background-color: #134eff;
    max-width: 300px;
    padding: 10px;
    gap: 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 6px rgb(0, 0, 0);
}

.change {
    padding: 0 3px 0 3px;
    cursor: pointer;
}

.input-one {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.tableInput {
    width: 100%;
    height: 25px;
    margin: 0 5px;
    font-size: 15px;
    border: 0;
    outline: none;
    background: transparent;
}
.inputAndButton {
    display: flex;
    gap: 10px;
}

.ref-amount-gap{
    display: grid;
    gap: 10px ;
}

.input-two , .input-thre {
    background-color: #ffff;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.ph-calendar, .ph-arrow-square-right, .ph-currency-circle-dollar, .ph-identification-card {
    font-size: 25px;
    color: blue;
    border-right: 2px solid rgba(0, 0, 0, 0.286);
    padding-right: 3px;
}

.input-four {
    border-radius: 10px;
    background-color: rgb(69, 69, 69);
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.creat, .hide5s {
    height: 50%;
    width: 100%;
    background: transparent;
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.creat {
    color: chartreuse;
}
.hide5s {
    color: red;
}

.creat:hover {
    background-color: chartreuse;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.hide5s:hover {
    background-color: red;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.now-button {
    padding: 5px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    background-color: rgb(69, 69, 69);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    cursor: pointer;
}

.now-button:hover {
    background-color: chartreuse;
    color: black;
}

@media print, (max-width: 825px) {
    .contentNav {
        display: none;
    }

    .three-content {
        margin: 0;
    }
}

@media print, (min-width: 825px) {


    .three-content {
        margin-left: 130px;
    }
}

.three-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px  ;
}

.input-cimb{
    width: 90%;
    align-items: center;
    padding: 10px 0;
}

/* >>>>>>>>>> RESIT CIMB <<<<<<<<<<>>>>>>>>>> RESIT CIMB <<<<<<<<<<>>>>>>>>>> RESIT CIMB <<<<<<<<<< */
.shadow{
    box-shadow: 4px 4px 6px rgb(0, 0, 0);
}

header {
    background-color: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 14px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

nav {
    margin: 0 0 0 17px;
}
nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav ul li {
    margin: 2px;
}
nav ul strong {
    color: #7db680;
    padding: 0px 3px 0px 12px;
}
.dTime {
    padding: 0 18px 0 0;
}
.my-logo {
    width: 25px;
    margin-right: auto;
    margin: 0;
}
.color {
    background-color: #f3f3f3;
    height: auto;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    box-shadow: black;
}
.content {
    padding-right: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.inside-content {
    margin-left: 20px;
}
.padding-bottom-10 {
    padding-top: 10px;
}
.pay-one {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 730;
    letter-spacing: -1.50px;
}
.pay1 {
    padding-top: 7px;
}
.change-nameBank, .change-accBank {
    letter-spacing: -.30px;
    border: 0;
    background: transparent;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-block: 0;
    padding-inline: 0;
    width: 350px;
}
.change-accBank:hover, .change-nameBank:hover{
    background-color: chartreuse;
    border-radius: 5px;
}
.content-one {
    text-align: right;
    padding: 10px 8px 10px 0;
    margin: 7px 10px 7px 0;
}
h3 {
    font-size: 20px;
    font-weight: 700;
}
.margin-top {
    margin: 10px 0 7px;
}
.bankCharge {
    font-size: 11.5px;
}
.money-one {
    font-size: 12px !important;
    line-height: 1.50em;
    vertical-align: top;
    font-weight: 680;
    margin-left: 2px;
}
.money {
    font-size: 20px;
}
.caj-one {
    font-size: 10px !important;
    line-height: 2em;
    vertical-align: top;
}
.caj{
    font-size: 14px;
}



/* >>>>>>>>>> RESIT MBB <<<<<<<<<< >>>>>>>>>> RESIT MBB <<<<<<<<<< >>>>>>>>>> RESIT MBB <<<<<<<<<<  */

.header-mbb {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 6px rgb(0, 0, 0);
}

.content-mbb {
    background-color: white;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo-mbb {
    width: 220px;
}

.h3-mbb {
    font-size: 22px;
    padding: 22px 0 20px 0;
}

.content-mbb-flex {
    display: flex;
    width: 100%;
    font-size: 17px;
    font-family: Arial,sans-serif;
}

.content-mbb-50 {
    width: 350px;
    min-width: 300px;
}

.content-mbb-margin {
    margin: 0 0 5px 0;
}

.amount-acc-margin {
    margin: 31px 0;
}

.edit-acc-mbb, .edit-acc-namebank {
    margin: 31px 0;
    padding-block: 0;
    padding-inline: 0;
    border: 0;
    background: transparent;
    font-size: 17px;
    font-weight: bold;
    width: 100%;
}
.edit-acc-namebank {
    margin: 0 0 5px 0;
}

.edit-acc-mbb:hover, .edit-acc-namebank:hover {
    background-color: chartreuse;
    border-radius: 5px;
}

.font-right-bold {
    font-weight: bold;
    width: 390px;
}

.content-mbb-margin-color {
    color: rgb(0, 153, 0);
    margin: 0 0 5px 0;
}


/* >>>>>>>>>>> RHB <<<<<<<<<<< >>>>>>>>>>> RHB <<<<<<<<<<< >>>>>>>>>>> RHB <<<<<<<<<<< */
.header-rhb {
    background-color: #1cff82;
    font-size: 15px;
    width: 100%;
    box-shadow: 4px 4px 6px rgb(0, 0, 0);
}

.content-rhb {
    background-color: white;
    padding: 15px;
}

.to-acc {
    background-color: #ECEFF4;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 20px;
}

.font-size-color-font {
    margin: 2px 0 3px 0;
    font-size: 13.50px;
    color: rgba(108, 108, 108, 0.705);
}

.font-size-color-font-1 {
    margin-top: 26px;
    font-size: 13.50px;
    color: rgba(108, 108, 108, 0.705);
}

.font-size-color-font-2 {
    padding: 5px 0 30px 0;
    font-size: 16px;
    color: rgba(46, 46, 46, 0.994);
}

.font-size-color-font-3 {
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 13.50px;
    color: rgba(108, 108, 108, 0.705);
}

.font-size-color-font-4 {
    font-size: 16px;
    margin-bottom: 30px;
    color: rgba(46, 46, 46, 0.994);
}

.acc-rhb2 {
    margin: 0px 0 0 0;
    font-size: 16px;
    color: rgba(46, 46, 46, 0.994);
    border: 0;
    background: transparent;
    padding-block: 0;
    padding-inline: 0;
    width: 100%;
}
.acc-rhb2:hover{
    background-color: chartreuse;
    border-radius: 5px;
}

.color-rhb{
    margin: 1px 0 0 0;
    background-color: #ECEFF4;
}

.flex-rhb {
    width: 600px;
    display: flex;
    margin: 0 20px;
}

.rhb-one {
    width: 50%;
}

.list-box ul {
    background-color: rgb(241, 240, 240);
    width: 182px;
    margin: 0 0 0 2px;
    padding: 0;
    max-height: 150px;
    overflow: auto;
    position: absolute;
    font-size: 13px;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.167);

}

.list-box ul li {
    list-style-type: none;
    border-radius: 5px;
    padding: 8px 5px;
    cursor: pointer;
    font-family: arial;
}

.list-box ul li:hover {
    background-color: rgba(0, 0, 0, 0.142);
}


/* RESIT HLB */
.content-hlb {
    background-color: #fff;
    padding-top: 10px; 
    margin-bottom: 150px;
    width: auto;
}

.content-hlb-in {
    display: flex;
    width: 100%;
    color: #444444;
}
.content-left {
    width: 100%;
    max-width: 350px;
    font-weight: bold;
}

.content-left div, .content-right div {
   padding-top: 16px !important;
   padding-left: 20px;
   height: 30px;
   font-family: 'Helvetica', Arial, sans-serif;
}

.successful-hlb{
    color: #1ca344;
    font-weight: bold;
}

.content-right {
    width: 100%;
}

.input-edit-hlb::placeholder {
    color: #444444;
}

.bg-color-hlb {
    background-color: #f4f4f4;
}

.input-edit-hlb {
    width: 95%;
    padding-block: 0;
    padding-inline: 0;
    border: 0;
    background: transparent;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    color: #444444;
}

.input-edit-hlb:hover{
    background-color: chartreuse;
}